/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.email {
    text-align: center;
    margin-top: 10px;
}

.mode-switcher {
    text-align: center;
    margin-top: 10px;
}

/* Light Mode - more visible reddish-pink */
.light-mode {
    background-color: #eeacb1; /* A vivid, reddish-pink shade */
    color: #5b7553; /* Muted green for text */
}

/* Dark Mode - inspired by the building's facade and shutters, with adjusted text color */
.dark-mode {
    background-color: #6b7a8f; /* Soft slate blue */
    color: #f8bcc0; /* A lighter, more vivid reddish-pink for text, enhancing visibility */
}

/* Green/Pink Mode - using the building's color palette with a more visible reddish-pink */
.green-pink-mode {
    background-color: #88b04b; /* A soft green */
    color: #eeacb1; /* A vivid, reddish-pink shade */
}

/* Rest of your styles */
h1 {
    color: #5b7553; /* Muted green to match the text color */
}

a {
    color: #6b7a8f; /* Soft slate blue to match the dark mode background */
    text-decoration: none;
}

a:hover {
    color: #5b7553; /* Muted green for hover state, for consistency */
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
    background-color: #a8b6bf; /* Warmer gray to match the new color scheme */
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
